h1 {
  text-align: right;
    top: 18px;
    left: 10px;
    color: black;
    font-family: 'UniqueRegular', Arial, sans-serif;
    background-color: #FF7f50;
    margin: 0;
    padding: 10px;
}
.textbox {
  height: 35px;
  width: 200px;
  font-size: 14pt;
  cursor: text;
}